.ma-stats {
    margin: 10px;
    width: 200px;
    height: 64px;
    background-color: #dfe6ec;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;
    padding: 20px;
    
}